*.coffea
.ipynb_checkpoints/
workflows/__pycache__/
workflows/CMS_corrections/__pycache__/
dask-report.html
dask-worker-space/
*.log
*.err
*.out
*.pkl
*.hdf5
*.sub
*.dat
*.png
*.pdf
*.txt
CMSSW*
*cc
plotting/*root
plotting/.gitignore
.gitignore
plotting/ABCD/
.gitignore
